/*
COLORS
lime:         191, 255, 0;
logo-dark:    29, 38, 44;

dark-blue:    31, 41, 55;

sg dark:      22, 22, 24;
sg dark-grey: 27, 27, 31;
*/

:root {
  /* bold */
  --color-neutral: 255, 255, 255; /* title, menu titles */
  
  /* headings */
  --color-neutral-50: 255, 255, 255;
  
  --color-neutral-100: 255, 255, 255;
  
  /* pre-code | quotes */
  --color-neutral-200: 214, 219, 222;
  
  /* body */ /* main text, text description, post share icons, ToC text */
  --color-neutral-300: 172, 183, 188;
  
  /* counters | captions */ /* breadcrumps text, reading time, zen mode icon, numbering, headline */
  --color-neutral-400: 129, 146, 154;
  
  /* lead | th-borders */ /* separators, social icons */
  --color-neutral-500: 92, 107, 115;
  
  /* bullets */ /* card outlines, ToC separator and underline animation in selection */
  --color-neutral-600: 74, 86, 92;
  
  /* pre-bg | td-borders */ /* share post icons */
  --color-neutral-700: 56, 65, 70;
  
   /* background */
  --color-neutral-800: 27, 27, 31;

   /* background on search mode */
  --color-neutral-900: 22, 22, 24;
  
  --color-primary-50: 255, 255, 255;
  --color-primary-100: 255, 255, 255;
  --color-primary-200: 255, 255, 255;
  --color-primary-300: 250, 251, 252;
  
  /* links */ /* post share and social icons hover, menu text hover, tag label, section underline, ToC section underline */
  --color-primary-400: 204, 216, 222;

  /* hover title underline, button outline, button text hover, breadcrumps divider, zen mode icon hover */
  --color-primary-500: 157, 180, 192;
  
  /* quote borders */
  --color-primary-600: 132, 161, 176;
  
  --color-primary-700: 107, 142, 160;
  --color-primary-800: 89, 121, 138;
  --color-primary-900: 73, 99, 113;
  --color-secondary-50: 255, 255, 255;
  --color-secondary-100: 255, 255, 255;
  --color-secondary-200: 182, 240, 255;
  --color-secondary-300: 105, 225, 255;
  
  /* code */
  --color-secondary-400: 28, 209, 255;

  --color-secondary-500: 0, 165, 207;
  --color-secondary-600: 0, 132, 166;
  --color-secondary-700: 0, 100, 125;
  --color-secondary-800: 0, 67, 85;
  --color-secondary-900: 0, 35, 44;
}

/*
DARK MODE
body:           neutral.300
headings:       neutral.50
lead:           neutral.500
links:          primary.400
bold:           neutral.DEFAULT
counters:       neutral.400
bullets:        neutral.600
quotes:         neutral.200
quote-borders:  primary.600
captions:       neutral.400
code:           secondary.400
pre-code:       neutral.200
pre-bg:         neutral.700
th-borders:     neutral.500
td-borders:     neutral.700

LIGHT MODE
body:           neutral.700
headings:       neutral.800
lead:           neutral.500
links:          primary.600
bold:           neutral.900
counters:       neutral.800
bullets:        neutral.500
quotes:         neutral.700
quote-borders:  primary.500
captions:       neutral.500
code:           secondary.700
pre-code:       neutral.700
pre-bg:         neutral.50
th-borders:     neutral.500
td-borders:     neutral.300
*/